
.social {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    font-size:35px;
    width: 70px;
    aspect-ratio: 1;
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    z-index:2;
}
.social:active .share {
    transform: translateY(1px);
}

.socialMenu {
    position: fixed;
    
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.4s;

    width: 0px;
    height: 0px;
    bottom: 0%;
    right: 0%;
    margin: 50px;
    z-index: 1;
    border-radius: 50px;
}

.socialList{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: 100%;
}
.icon {
    font-size: 23px;
    padding: 10px;
    user-select: none;
    cursor: pointer;

    background: var(--cool);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    position: relative;
    transform: skew(50deg, -20deg) scaleX(1.5);
    border-bottom: 6px solid var(--secondary);
    border-left: 6px solid  var(--secondary);
    transition: 0.4s;
    z-index: 1;
    /* box-shadow: -4px -4px 30px 0px rgba(0, 0, 0, 0.355); */
}   
.icon:active {
    /* box-shadow: -2px -2px 20px 0px rgb(255, 255, 255); */
    box-shadow: none;
    transform: skew(50deg, -20deg) scaleX(1.6) translateY(4px) translateX(-2px);
}
.socialMenu.socialactive {
    width: 140px;
    height: 270px;
    margin: 50px 30px;
    border-radius: 0;
}

@media only screen and (max-width: 550px) {
    .social {
        font-size: 25px;
        width: 55px;
        top: 20px;
        bottom: auto;
        z-index: 2;
    }
    .icon {
        font-size: 18px;
        padding: 8px;
    }
    .socialMenu{
        top: 30px;
        right: 30px;
        left: auto;
        bottom: auto;
        margin: 0px;
        z-index: 1;
    }
    .socialMenu.socialactive {
        margin: 0px;
        height: 220px;
        width: 100px;
    }
}