* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #060A2E;
  --secondary: #344CB7;
  --primary: #344CB7;
  --cool: #577BC1;
  --warm: #FFEB00;
  --hot: #FF4191;
}

@font-face {
  font-family: Digital;
  src: url(/fonts/Digital.ttf);
}


@font-face {
  font-family: Digital;
  src: url(/fonts/Digital.ttf);
}


@font-face {
  font-family: Header;
  src: url(/fonts/Header.ttf);
}


@font-face {
  font-family: DMain;
  src: url(/fonts/DMain.ttf);
}

body {
  background: var(--dark);
}

button {
  border: none;
  outline: none;
  background: transparent;
}


#mousepointer {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  transition: 0.05s;
  left: -50px;
  z-index: 1000002;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  overflow: hidden;
}
#mousepointer div {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
}